<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>神马游戏</title>
    <meta name="description" content="神马游戏">
    <meta name="viewport" content="width=device-width, initial-scale=1, ">
    <meta name="format-detection" content="telphone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="./styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/vendor/video-js.min.css">
    <link rel="stylesheet" href="./styles/vendor/slick.css">
    <link rel="stylesheet" href="./styles/vendor/slick-theme.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="./scripts/vendor/jquery.min.js"></script>
    <script src="./scripts/vendor/bootstrap.min.js"></script>
    <script src="./scripts/vendor/matchMedia.js"></script>
    <script src="./scripts/vendor/TweenMax.min.js"></script>
    <script src="./scripts/vendor/TimelineLite.min.js"></script>
    <script src="./scripts/vendor/ScrollMagic.min.js"></script>
    <script src="./scripts/vendor/animation.gsap.min.js"></script>
    <script src="./scripts/vendor/isotope.pkgd.min.js"></script>
    <script src="./scripts/vendor/slick.min.js"></script>
    <script src="./scripts/app/header.js"></script>
    <script src="./scripts/app/index.js"></script>
  </head>
  <body>
    <div id="home-page">
      <div class="wrapper"></div>
    </div>
  </body>
</html>